/*!
 * Mastertech - One Page Wonder
 * Insira seu código entre os comentários localizados no fim desta pagina ou/e
 * Edite o código do layout original
 */


/* Edite o código abaixo para mudar as opções do layout original */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

header.masthead {
    -webkit-background-size: cover;
    background: url('http://c3.thejournal.ie/media/2015/07/pills-12-752x501.jpg') no-repeat center center scroll;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead>.overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
    header.masthead>.overlay {
        padding: 10rem 0;
    }
}


/* Inicio do meu CSS */


/* Fim do meu CSS */
body{
    font-family: 'Indie Flower', cursive;
}
.cornav{
    background-color: #192956;
}
.cornav2{
    font-family: 'Pangolin', cursive;
}